.widget-mpris {
  border-radius: 12.6px;
  background-color: var(--dark2);
  padding: 10px;
}
.widget-mpris-player {
  margin: 10px;
  border-radius: 12.6px;
}
.widget-mpris-title {
  font-size: 1.2rem;
  font-weight: 500;
}
.widget-mpris button:disabled {
  opacity: 0.6;
  filter: grayscale(1);
}
.widget-mpris button image {
  -gtk-icon-size: 2rem;
  color: var(--blue2);
}
.widget-mpris-player button image {
  -gtk-icon-size: 1.5rem;
  color: var(--light1);
  border-radius: 50px;
  background-color: var(--dark1);
  padding: 10px;
  margin-bottom: 10px;
}
.widget-mpris-player image {
  -gtk-icon-size: 100px;
  border-radius: 12.6px;
  margin: 10px 0 0 10px;
  border: 4px solid var(--dark1);
}

.mpris-overlay {
  background-color: var(--dark4);
  opacity: 0.9;
}
