
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;
@define-color crust-o rgba(17, 17, 27, 0.2);
@define-color text-o rgba(205, 214, 244, 0.2);

.widget-mpris {
  border-radius: 12.6px;
  padding: 10px;
  margin-bottom: 20px;
  /* background-color: @base; */
}

.widget-mpris carouselindicatordots{
  color: @mauve;
}
.widget-mpris-player {
  margin: 10px;
  border-radius: 12.6px;
  /* background-color: @base; */
  border: 2px solid @mauve;
}
.widget-mpris-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: @text;
}
.widget-mpris-subtitle{
  color: @text;
  opacity:0.5;
}
.widget-mpris button:disabled {
  opacity: 0.6;
  filter: grayscale(1);
}
.widget-mpris button{
  /* color: red; */
  /* border: 2px solid red; */
}
.widget-mpris button image {
  -gtk-icon-size: 1rem;
  color: transparent;
}

.widget-mpris-player image {
  -gtk-icon-size: 100px;
  border-radius: 12.6px;
  margin: 10px 0 0 10px;
  /* border: 2px solid #cba6f7; */
}

.widget-mpris-player button image {
  -gtk-icon-size: 1.5rem;
  color: @text;
  border-radius: 50px;
  /* background-color: #11111b; */
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}
.widget-mpris-player button image:hover {
  color: @mauve;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}
.mpris-background {
  opacity: 0.1;
  filter: blur(5px);
}


picture.mpris-overlay {
  /* background-color: @base; */
  opacity: 1;
}

.widget-mpris-album-art{
  background-color: @mauve;
  opacity: 0.5;
  box-shadow: 0px 0px 50px 3px rgba(203, 166, 247, 1);
}
