@import "./mpris.css";
:root {
  --dark1: #2e3440;
  --dark2: #3b4252;
  --dark3: #434c5e;
  --dark4: #4c566a;

  --light1: #d8dee9;
  --light2: #e5e9f0;
  --light3: #eceff4;

  --blue1: #8fbcbb;
  --blue2: #88c0d0;
  --blue3: #81a1c1;
  --blue4: #5e81ac;

  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --pink: #b48ead;
}

* {
  all: unset;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font";
  transition: 200ms;
}

trough slider {
  /* margin: -10px; */
  /* margin: 10px; */
  border-radius: 12.6px;
  /* border-radius: 10px; */
  /* width: 20px; */
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.8); */
  transition: all 0.2s ease;
  background-color: var(--blue2);
}

/* trough slider:hover {
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.8),
    0 0 8px #88c0d0;
} */

trough {
  background-color: var(--dark1);
}

/* notifications */

.notification-background {
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px var(--dark4);
  border-radius: 12.6px;
  margin: 8px;
  background: var(--dark1);
  color: var(--light1);
  padding: 4px;
  border: 1px solid var(--dark4);
}

.notification-background .notification {
  /* padding: 4px; */
  /* border-radius: 12.6px; */
  /* border: 1px solid var(--blue2); */
}
.notification image {
  -gtk-icon-size: 5rem;
}

.notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 var(--red);
}

.notification .notification-content {
  margin: 10px;
}

.notification .notification-content overlay {
  /* icons */
  margin: 10px 4px 0px 4px;
}

.notification-content .summary {
  color: var(--orange);
}

.notification-content .time {
  margin: 7px;
  color: var(--green);
}

.notification-content .body {
  margin-top: 10px;
  color: var(--light1);
}
.notification > *:last-child > * {
  min-height: 3.4em;
}

.notification-background .close-button {
  margin: 0px;
  padding: 2px;
  border-radius: 50px;
  color: var(--dark1);
  background-color: var(--red);
}

.notification .notification-action {
  border-radius: 7px;
  color: var(--light1);
  box-shadow: inset 0 0 0 1px var(--dark4);
  margin: 4px;
  padding: 8px;
  font-size: 0.2rem; /* controls the button size not text size*/
}

.notification .notification-action {
  background-color: var(--dark2);
}

.notification .notification-action:hover {
  background-color: var(--dark3);
}

.notification .notification-action:active {
  background-color: var(--dark4);
}

.notification.critical progress {
  background-color: var(--red);
}

.notification.low progress,
.notification.normal progress {
  background-color: var(--red);
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 12.6px;
  padding: 3px 0;
}

/* control center */
.control-center {
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px var(--dark4);
  border-radius: 12.6px;
  background-color: var(--dark1);
  color: var(--light1);
  padding: 14px;
  border: 2px solid var(--blue2);
}

.control-center .notification-background {
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px var(--dark4);
  margin: 4px 10px;
}

.control-center .notification-background .notification {
  border-radius: 7px;
}

.control-center .notification-background .notification.low {
  opacity: 0.8;
}

.control-center .widget-title {
  margin-bottom: 10px;
}

.control-center .widget-title > label {
  /* color: var(--light1); */
  color: var(--blue2);
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 50px;
  /* color: #cad3f5; */
  background-color: var(--dark2);
  box-shadow: inset 0 0 0 1px var(--dark3);
  border: 1px solid var(--red);
  padding: 10px;
  color: var(--red);
}

.control-center .notification-group {
  border: 1px solid var(--dark4);
  background-color: var(--dark2);
  border-radius: 12.6px;
  margin-top: 10px;
  padding: 10px;
}

.control-center .notification-group-headers {
  color: var(--light2);
  margin: 10px 20px 20px 10px;
}
.control-center .notification-group .notification-group-icon {
  background-color: var(--light2);
  margin: 0px;
  padding: 2px;
  border-radius: 50px;
  color: var(--dark1);
}
.control-center .notification-group .notification-group-buttons {
  margin: 10px 20px 20px 10px;
}
.control-center .notification-group .notification-group-buttons > :first-child {
  margin: 0px;
  padding: 2px;
  border-radius: 50px;
  color: var(--dark1);
  background-color: var(--green);
}
.control-center
  .notification-group
  .notification-group-buttons
  > :nth-child(2) {
  margin: 0px;
  padding: 2px;
  border-radius: 50px;
  color: var(--dark1);
  background-color: var(--red);
}
.control-center .notification-group .notification-group-close-button {
  margin: 0px;
  padding: 2px;
  border-radius: 50px;
  color: var(--dark1);
  background-color: var(--red);
}

.control-center .notification-group:focus .notification-background {
  background-color: var(--dark3);
}

scrollbar slider {
  margin: -5px;
  opacity: 0.8;
  margin-top: 5px;
}

scrollbar trough {
  margin: 5px;
}

/* dnd */
.widget-dnd {
  margin: 10px 0px;
  border-radius: 50px;
  font-size: 1.1rem;
  background-color: var(--dark2);
  padding: 10px;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 50px;
  background: var(--dark3);
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: var(--green);
}

.widget-dnd > switch slider {
  background: var(--dark4);
  border-radius: 50px;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: var(--red);
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: var(--dark3);
}

.control-center .widget-label > label {
  color: var(--light2);
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding: 1rem 0;
}

.widget-volume label {
  color: var(--blue4);
  padding: 0 1rem;
}

.widget-volume trough highlight {
  background: var(--blue4);
}

.widget-backlight trough highlight {
  background: var(--yellow);
}

.widget-backlight label {
  font-size: 1.5rem;
  color: var(--yellow);
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
