@import "./nord.css";

* {
  border: none;
  border-radius: 0px;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  font-style: normal;
  min-height: 0;
  transition: all 0s;
}

window#waybar {
  background: @dark1;
  color: @light1;
  border-radius: 100px;
}

/* COMMON */
#window,
#workspaces,
#mpris,
#pulseaudio,
#wireplumber,
#tray,
#clock,
#power-profiles-daemon,
#custom-power,
#custom-swaync-client,
#custom-brightness,
#custom-menu {
  padding: 0px 12px;
  margin: 2px;
  border-radius: 100px;
  color: @light1;
  background-color: @dark3;
  font-weight: 500;
}

/* WORKSPACES */
#workspaces {
  padding: 4px;
}
#workspaces button {
  border-radius: 100px;
  padding: 4px 2px;
  margin: 0 3px;
  background-color: @dark4;
  color: @light1;
}
#workspaces button:hover {
  color: @dark1;
  background-color: @light1;
}
#workspaces button.active {
  background-color: @pink;
  color: @dark1;
}

/* MENU */
#custom-menu {
  background-color: @green;
  color: @dark1;
}

/* MPRIS */
#mpris {
  background-color: @blue3;
  color: @dark1;
}

/* pulseaudio */

#pulseaudio {
  background-color: @dark3;
  color: @light3;
}

/* custom-brightness */

#custom-brightness {
  background-color: @yellow;
  color: @dark1;
}

#tray menu {
  background-color: @dark1;
  color: @light1;
  border-radius: 12.6px;
  border-color: transparent;
}

#clock {
  background-color: @blue1;
  color: @dark1;
}

#power-profiles-daemon {
  color: @dark1;
}
#power-profiles-daemon.performance {
  background-color: @red;
}

#power-profiles-daemon.balanced {
  background-color: @green;
}
#power-profiles-daemon.power-saver {
  background-color: @yellow;
}

#custom-power:hover {
  background-color: @red;
  color: @dark1;
}
#custom-swaync-client:hover {
  font-weight: 800;
  background-color: @blue3;
  color: @dark1;
}
