@define-color dark1   #2e3440;
@define-color dark2   #3b4252;
@define-color dark3   #434c5e;
@define-color dark4   #4c566a;
@define-color light1  #d8dee9;
@define-color light2  #e5e9f0;
@define-color light3  #eceff4;
@define-color blue1   #8fbcbb;
@define-color blue2   #88c0d0;
@define-color blue3   #81a1c1;
@define-color blue4   #5e81ac;
@define-color red     #bf616a;
@define-color orange  #d08770;
@define-color yellow  #ebcb8b;
@define-color green   #a3be8c;
@define-color pink    #b48ead;
