* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(30, 30, 46, 0.50);
}


button {
	border-radius: 0;
	border-color: #cba6f7;
  border-width: 2px 1px;
  border-style: solid;
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: #181825;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  margin: 200px 0;

}
button:first-child{
  border-radius: 100px 0 0 100px;
  border-width: 2px 1 2px 2px;
}
button:last-child{
  border-radius:  0 100px 100px 0;
    border-width: 2px 2px 2px 1px;

}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(48, 50, 66);
	outline-style: none;
}


#lock {
    background-image: url("./icons/lock.svg");
}

#logout {
    background-image: url("./icons/logout.svg");
}

#suspend {
    background-image: url("./icons/suspend.svg");
}

#hibernate {
    background-image: url("./icons/hibernate.svg");
}

#shutdown {
    background-image: url("./icons/shutdown.svg");
}

#reboot {
    background-image: url("./icons/reboot.svg");
}

button {
  color: #cba6f7;
}